<h1>Create a superhero team</h1>

  <form method="POST" action='/team'>
  <p>Team Name<input id="team_name" type="text" name="team[name]"></p>
  <p>Team Motto<input id="team_motto" type="text" name="team[motto]"></p>
  <h1>Hero 1</h1>
  <p>Hero's Name<input id="hero1_name" type="text" name="team[heros][][name]" ></p>
  <p>Hero's Power<input id="hero1_power" type="text" name="team[heros][][power]" ></p>
  <p>Hero's Biography<input id="hero1_bio" type="text" name="team[heros][][bio]" ></p>

  <h1>Hero 2</h1>
  <p>Hero's Name<input id="hero2_name" type="text" name="team[heros][][name]" ></p>
  <p>Hero's Power<input id="hero2_power" type="text" name="team[heros][][power]" ></p>
  <p>Hero's Biography<input id="hero2_bio" type="text" name="team[heros][][bio]" ></p>

  <h1>Hero 3</h1>
  <p>Hero's Name<input id="hero3_name" type="text" name="team[heros][][name]" ></p>
  <p>Hero's Power<input id="hero3_power" type="text" name="team[heros][][power]" ></p>
  <p>Hero's Biography<input id="hero3_bio" type="text" name="team[heros][][bio]" ></p>

<input type="submit" id="Submit" name="Submit">
</form>
